@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Cafe24Ohsquare';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#wrap {}


.inner {
  width: 1396px;
  margin: 0 auto;
}

header {
  position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  margin: 32px 0 0 99px;
  width: 150px;
  z-index: 1;
}

.logo img {
  width: 100%;
}

/* nav */
.gnb {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  margin: 59px 80px 0 0;
  z-index: 1;
}

.gnb li {
  display: inline-block;
  margin-right: 40px;

}

.gnb li a {
  color: #fff;
  text-decoration: none;
  transition: width 1s ease-in;

}

.gnb li:hover a {
  text-decoration: underline;
  color: #ccc;
}

/* video */
.video {
  width: 100%;
  z-index: -999;

}

.video video {
  width: 100%;
}

#content {}

/* content1 */
.content1 {
  margin-top: 158px;
  position: relative;
}

.content1_txt {
  font-family: 'Cafe24Ohsquare';
  font-size: 85px;
  color: #131313;
}

.detail_box {
  position: absolute;
  bottom: 140px;
  left: 0;
}

.detail_box .detail_txt {
  font-size: 25px;
  padding-bottom: 15px;
}

.detail_box:hover .bar {
  width: 100%;
  opacity: 1;
}

.bar {
  width: 0;
  height: 4px;
  background: #131313;
  transition: width 1s ease;
  opacity: 0;


}

.next_btn {
  display: inline-block;
  padding-bottom: 10px;
}

.next_btn i {
  display: inline-block;
  font-size: 25px;
  margin-left: 153px;
}

.content1_img {
  text-align: right;
}

.content1_img img {
  transition: all 0.5s ease;
}

.content1_img:hover img {
  transform: scale(1.1);
}


/* banner */
.banner {
  width: 100%;
  height: 280px;
  margin: 159px 0;
  background: url(../img/banner.png)no-repeat fixed center / cover;
}

.banner>i {
  float: right;
  /* border:1px solid blue; */
  margin: 120px 500px 0 -200px;
  color: #00aeff;
  font-size: 50px;
}

.banner .banner_txt {
  float: right;
  /* border:1px solid red; */
  margin: 128px -120px 0 0;

  font-size: 30px;
  font-family: 'Cafe24Ohsquare';
}

.banner .banner_txt a {
  color: #fff;
}

/* content2 */
.content2 {
  /* border:1px solid red; */
}

.content2 .lineup {
  margin: 214px 0 160px 0;
  text-align: center;
  font-size: 60px;
  font-family: 'Cafe24Ohsquare';
  color: #131313;
}

.lineup_top {
  position: relative;
  margin-bottom: 104px;
}

.lineup_top .lineup_top_img {
  width: 700px;
  transition: all 1s;
}

.lineup_top .lineup_top_img {}

.lineup_top .lineup_top_car {
  width: 400px;
  position: absolute;
  top: 0;
  right: 10px;
  transition: all 1s;
  position: absolute;
}

.lineup_top:hover .lineup_top_car {
  top: 0;
  right: 1000px;
  transform-origin: right;
  cursor: pointer;
}

.lineup_top:hover .lineup_top_img {
  opacity: 0;
}


.lineup_center {
  position: relative;
  margin-bottom: 104px;
}

.lineup_center .lineup_center_img {
  width: 613px;
  transition: all 1s;
}

.lineup_center .lineup_center_car {
  width: 380px;
  position: absolute;
  top: 0;
  right: 120px;
  transition: all 1s;
  position: absolute;
  /* border:1px solid red; */
}

.lineup_center:hover .lineup_center_car {
  top: 0;
  right: 1000px;
  transform-origin: right;
  cursor: pointer;
}

.lineup_center:hover .lineup_center_img {
  opacity: 0;
}

.lineup_btm {
  position: relative;
  margin-bottom: 104px;

}

.lineup_btm .lineup_btm_img {
  width: 524px;
  transition: all 1s;
}

.lineup_btm .lineup_btm_car {
  width: 400px;
  position: absolute;
  top: 0;
  right: 210px;
  transition: all 1s;
  position: absolute;
}

.lineup_btm:hover .lineup_btm_car {
  top: 0;
  right: 1000px;
  transform-origin: right;
  cursor: pointer;
}

.lineup_btm:hover .lineup_btm_img {
  opacity: 0;
}

/* slider */
.slider {
  width: 1396px;
  /* height:788px; */
  margin: 216px auto 0;
  position: relative;

}

.slider .imgbox {
  position: relative;
}

.slide .imgbox img {
  width: 100%;
}

.slide img {
  width: 100%;
}

.slider .txtbox {
  position: absolute;
  top: 0;
  right: 0;
  width: 460px;
  height: 150px;
  background: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.slider .txtbox p {
  font-size: 36px;
  color: #fff;
  margin-top: 20px;
  font-family: 'Cafe24Ohsquare';
  line-height: 1.5;
}

.slider.owl-carousel .owl-nav button span {
  font-size: 0;
}

.slider.owl-carousel .owl-dots {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);

}

.owl-carousel button.owl-dot {
  background: #222;
  width: 80px;
  height: 5px;
  margin-right: 20px;

}

.owl-carousel button.owl-dot.active {
  background: rgb(119, 119, 119);
}

/* content3 */
.content3 {
  margin: 100px auto;
  position: relative;

}

.content3_textbox {
  text-align: center;

}

.content3_title {
  font-size: 60px;
  font-family: 'Cafe24Ohsquare';
  color: #131313;
}

.content3_sub_title {
  font-size: 40px;
  font-family: 'Cafe24Ohsquareair';
  color: #131313;
}

.content3_txt {
  margin-top: 93px;
}

.content3_imgbox {}

.content3_left {
  position: relative;
}

.content3_left .content3_img1 {
  position: absolute;
  top: 100px;
  left: 60px;
}

.content3_left .content3_left_txt {
  font-size: 45px;
  font-weight: bold;
  position: absolute;
  top: 150px;
  left: 270px;
  color: #fff;
  ;
  text-shadow: 5px 7px 2px #0a0a0a;
  font-family: 'Cafe24Ohsquare';
}

.content3_left_detail {
  position: absolute;
  top: 280px;
  left: 480px;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid #fff;
  ;
  padding: 10px 35px;
}

.content3_left_detail a {
  color: #fff;
  ;
}

.content3_left_detail:hover {
  background: #fff;
  ;
  color: #4c4d4f;
}

.content3_left_detail:hover a {
  color: #4c4d4f;
  font-weight: 550;
}

.content3_right {
  position: relative;
}

.content3_right .content3_img2 {
  position: absolute;
  top: 100px;
  right: 300px;
  width: 359px;
}

.content3_right .content3_right_txt {
  font-size: 45px;
  font-weight: bold;
  position: absolute;
  top: 150px;
  right: 66px;
  color: #fff;
  ;
  text-shadow: 5px 7px 2px #0a0a0a;
  font-family: 'Cafe24Ohsquare';
}

.content3_right_detail {
  position: absolute;
  top: 280px;
  right: 100px;
  font-size: 14px;
  font-weight: 100;
  border: 1px solid #fff;
  ;
  padding: 10px 35px;
}

.content3_right_detail a {
  color: #fff;
  ;
}

.content3_right_detail:hover {
  background: #fff;
  ;
  color: #4c4d4f;
}

.content3_right_detail:hover a {
  color: #4c4d4f;
  font-weight: 550;
}

.content3_bg {
  background: #4c4d4f;
  height: 610px;
  margin-top: 80px;
}

/* footer */
footer {
  width: 100%;
  height: 300px;
  background: #caccce;
  border: 0;
}

.footer_logo {
  width: 100px;
  float: left;
  margin-top: 37px;
  margin-right: 190px;
}

.footer_logo img {
  width: 100%;
}

.ft_top {
  display: inline-block;
  width: 100%;
}

.ft_top .ft_menu {
  padding-top: 50px;
  margin-left: 20px;
  color: #27251f;
  /* border: 1px solid black; */
}

.ft_menu li {
  display: inline-block;
  padding: 0 25px;
  font-size: 13px;
}

.ft_top .ft_menu li a:hover {
  cursor: pointer;
  text-decoration: underline;
  margin: 0;
  padding: 0;
}

.ft_btm {
  margin: 0;
}

.ft_btm .ft_left {
  float: left;
  /* display: inline-block; */
  font-size: 14px;
  margin: 100px 0 0 0px;
}


.ft_btm .ft_left .ft_txt {
  color: #27251f;
  margin-left: 0;

}

.ft_btm .ft_left .ft_copy {
  margin-top: 20px;
  display: inline-block;
  font-size: 14px;
  color: #666;
}

.ft_btm .ft_right {
  float: right;
  margin: 100px 0 0 0;
}